
# Created by https://www.toptal.com/developers/gitignore/api/java
# Edit at https://www.toptal.com/developers/gitignore?templates=java

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# End of https://www.toptal.com/developers/gitignore/api/java
SENLA.iml
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/artifacts/SENLA_jar.xml
out/production/SENLA/META-INF/MANIFEST.MF
out/production/SENLA/task-0/renamed_file.txt
out/production/SENLA/task-2/3/Employee.drawio
out/production/SENLA/task-2/3/Employee.jpg
out/production/SENLA/task-2/3/Patient.drawio
out/production/SENLA/task-2/3/Patient.jpg
out/production/SENLA/task-2/4/MineSweeper.drawio
out/production/SENLA/task-2/4/MineSweeper.jpg
out/production/SENLA/task3/prog4_UML/Hotel.drawio
out/production/SENLA/task3/prog4_UML/Hotel.jpg
out/production/SENLA/task4/prog1/HotelDiagram.png
out/production/SENLA/task4/prog1/HotelDiagram.puml
out/production/SENLA/task4/prog2/run.bat
src/task0/renamed_file.txt
src/task2/1/Greeting.java
src/task2/3/Employee.drawio
src/task2/3/Employee.jpg
src/task2/3/Patient.drawio
src/task2/3/Patient.jpg
src/task2/4/MineSweeper.drawio
src/task2/4/MineSweeper.jpg
src/task4/prog2/run.bat
out/production/SENLA/task0/renamed_file.txt
out/production/SENLA/task2/3/Employee.drawio
out/production/SENLA/task2/3/Employee.jpg
out/production/SENLA/task2/3/Patient.drawio
out/production/SENLA/task2/3/Patient.jpg
out/production/SENLA/task2/4/MineSweeper.drawio
out/production/SENLA/task2/4/MineSweeper.jpg
out/production/SENLA/task5/HotelMVC.puml
out/production/SENLA/task5/MenuOptions.docx
