<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- SQL dialect -->
        <!-- My postgres -V is 14.2 -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/senla_project</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password123</property>
        <!-- Print executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Annotated entity classes -->
        <mapping class="com.senla.javacourse.dao.entity.Room"/>
        <mapping class="com.senla.javacourse.dao.entity.Maintenance"/>
        <mapping class="com.senla.javacourse.dao.entity.Guest"/>
    </session-factory>
</hibernate-configuration>